extends layout

block content
    //.col-md-12.pan
        .col-md-8.col-md-offset-2.text-center
            i.icon-rocket.text-light-gray(style='font-size:400px')
            hr
            h3.text-6 WORK IN PROGRESS
