.col-md-12.pan.man(ng-controller="DashBoardController")
    h4.text-center.text-dark-gray.ng-cloak(ng-show='roleNotSet') Please contact the admin to set a role for you.

    .col-md-12.pan.text-center.bg-grey-light.text-primary.mbl.mtl
        h6(ng-show="currentDash=='Manager'") MANAGER DASHBOARD
        h6(ng-show="currentDash=='Mentor'") MENTOR DASHBOARD


    .col-md-8.col-md-offset-2.mtl.text-center.ng-cloak(ng-show="!currentDash")
        i.icon-spin5.animate-spin.text-dark-gray.font20.mtl

    .col-md-8.col-md-offset-2.mtl.pan.bor.ng-cloak(ng-show="currentDash=='Manager'")
        .col-md-12.bbs.pam(ng-class="currentPayPeriod == currentTimeSheetKey ? 'bg-warning' : ''")
            .col-md-3
                i.icon-left-big.cursorp(ng-click='prevPeriod()')
            .col-md-2
                h6.man.pan.text-dark-gray {{formattedStart}}
            .col-md-2.text-center
                i.icon-minus
            .col-md-2.text-right
                h6.man.pan.text-dark-gray {{formattedEnd}}
            .col-md-3.text-right
                i.icon-right-big.cursorp(ng-click='nextPeriod()')

        .row.man.pan.dash-bars(style='border-bottom:1px solid #ddd')

            .col-md-12.pan.ng-cloak(ng-show="showManageMentor")
                h5.text-center.text-dark-gray
                    | {{showManageMentorObj.basic.firstName}} {{showManageMentorObj.basic.lastName}}
                    .mrs.btn-default.btn.btn-xs.pull-right(ng-click="showManageMentor=false") Close

                table.table.table-striped.table-hover.mtl.ptl
                    thead
                        tr
                            th Date
                            th Student
                            th Session Length
                            th Description
                    tbody
                        tr(ng-repeat="(lessonId, lesson) in showManageMentorObj.timesheets[currentTimeSheetKey].lessons", ng-if="showManageMentorObj.timesheets[currentTimeSheetKey].submitted")
                            td {{moment(lesson.date, "MMMM Do YYYY").format('M/D/YY')}}
                            td {{lesson.student.name}}
                            td {{lesson.length}}
                            td {{lesson.length}} {{lesson.length <= 1 ? 'hour' : 'hours'}}  with {{lesson.student.name.split(' ')[0]}} on {{moment(lesson.date, "MMMM Do YYYY").format('M/D')}}


            .col-md-12.pan.ng-cloak(ng-show="showManageParent")
                h5.text-center.text-dark-gray
                    | {{showManageParentObj.firstName}} {{showManageParentObj.lastName}}
                    .mrs.btn-default.btn.btn-xs.pull-right(ng-click="showManageParent=false") Close

                table.table.table-striped.table-hover.mtl.ptl
                    thead
                        tr
                            th Date
                            th Mentor
                            th Length
                            th Description
                    tbody
                        tr(ng-repeat="(lessonId, lesson) in showManageParentObj.invoices[currentTimeSheetKey]")
                            td {{moment(lesson.date, "MMMM Do YYYY").format('M/D/YY')}}
                            td {{lesson.mentorName}}
                            td {{lesson.length}}
                            td {{lesson.length}} {{lesson.length <= 1 ? 'hour' : 'hours'}} with {{lesson.mentorName.split(' ')[0]}} on {{moment(lesson.date, "MMMM Do YYYY").format('M/D')}}







            .row.man.pan(ng-show="!showManageMentor && !showManageParent")

                .col-md-6.bbs.pan.text-center.cursorp.ng-cloak.brs(ng-click='openTimesheetsTab()', ng-class="selectedTab == 'TIMESHEETS' ? 'bg-grey-light text-primary' : 'text-6' ")
                    p.font18.mas
                        i.icon-clock-1
                        | Timesheets

                .col-md-6.pan.bbs.text-center.cursorp.ng-cloak(ng-click='openInvoicesTab()', ng-class="selectedTab == 'INVOICES' ? 'bg-grey-light text-primary' : 'text-6' ")
                    p.font18.mas
                        i.icon-money
                        | Invoices



                .col-md-12.pan.ng-cloak(ng-show="selectedTab == 'INVOICES'")
                    table.table.table-striped.table-hover.mtl.ptl
                        thead
                            tr
                                th Parent Name
                                th Total Hours
                        tbody
                            tr(ng-repeat="(userid, parent) in parents")
                                td
                                    a.cursorp(ng-click="manageParent(userid, parent)")
                                        | {{parent.firstName}} {{parent.lastName}}
                                td {{calculateTotalHoursForAParent(parent.invoices[currentTimeSheetKey])}}

                .col-md-12.pan.ng-cloak(ng-show="selectedTab == 'TIMESHEETS'")
                    table.table.table-striped.table-hover.mtl.ptl
                        thead
                            tr
                                th Mentor Name
                                th Total Hours
                        tbody
                            tr(ng-repeat="(userid, mentor) in mentors")
                                td
                                    a.cursorp(ng-click="manageMentor(userid, mentor)")
                                        | {{mentor.basic.firstName}} {{mentor.basic.lastName}}
                                td {{mentor.timesheets[currentTimeSheetKey].totalTime}}




    .col-md-8.col-md-offset-2.mtl.pan.bor.ng-cloak(ng-show="currentDash=='Mentor'")
        .col-md-12.bbs.pam(ng-class="currentPayPeriod == currentTimeSheetKey ? 'bg-warning' : ''")
            .col-md-3
                i.icon-left-big.cursorp(ng-click='prevPeriod()')
            .col-md-2
                h6.man.pan.text-dark-gray {{formattedStart}}
            .col-md-2.text-center
                i.icon-minus
            .col-md-2.text-right
                h6.man.pan.text-dark-gray {{formattedEnd}}
            .col-md-3.text-right
                i.icon-right-big.cursorp(ng-click='nextPeriod()')


        .col-md-12.pan.ng-cloak
            table.table.table-striped.table-hover.mtl.ptl
                thead
                    tr
                        th Date
                        th Student Name
                        th Length (Hours)
                        th Notes
                        th
                tbody
                    tr(ng-repeat="(sheetId, sheet) in currentTimeSheet")
                        td {{sheet.date}}
                        td {{sheet.student.name}}
                        td {{sheet.length}}
                        td {{sheet.notes}}
                        td
                            .btn.btn-xs.btn-danger.icon-cancel(ng-click='removeLesson(sheetId)', ng-show='!currentTimeSheetSubmitted.$value')
                    tr(ng-show='!currentTimeSheetSubmitted.$value')
                        td
                            .form-group.man
                                .input-group
                                    //span.input-group-btn
                                        //button.btn(type="button")
                                            span.fui-calendar
                                    input#datepicker-01.form-control(type="text", value="{{formattedStart}}")
                        td
                            .form-group.man
                                input.form-control(type="text", typeahead-on-select='onTypeaheadSelect($item)', ng-model="lessonModel.student", typeahead-input-formatter="formatLabel($model)", placeholder='Student name', typeahead="student as student.name for student in students | filter:$viewValue | limitTo:5")
                        td
                            .form-group.man
                                input.form-control(type="text", ng-model="lessonModel.length", placeholder='Length', valid-number)
                        td
                            .form-group.man
                                input.form-control(type="text", placeholder='Notes', ng-model="lessonModel.notes")
                        td
                            &nbsp;

        .col-md-12.pan.ng-cloak.pan(ng-show='currentTimeSheetSubmitted.$value')
            h4.man.pbl.text-center.text-dark-gray You have submitted the timesheet for this period.

        .col-md-12(ng-show='!currentTimeSheetSubmitted.$value')
            .col-md-6.pal
                .btn.btn-sm.btn-primary(ng-click='addLesson()') Add Lesson
            .col-md-6.pal
                .pull-right.btn.btn-sm.btn-warning(ng-click='submitTimeSheet()') Submit Timesheet



